<li>
    {{burgerName}}
        {{#if devoured}}
        Devoured!
        {{else}}
        
    <button class="change-devoured" data-id="{{id}}" data-neweat="{{devoured}}">
        Let's Eat!!!
    </button>
        {{/if}}


</li>